<app-navbar></app-navbar>
<div class="page-content">
  <div class="form-group row hidden-xs">
    <label for="add" class="col-sm-1 col-form-label" style="width: inherit !important; ">+</label>
    <label for="privat" class="col-sm-1 col-form-label" style="width: inherit !important; ">pr</label>
    <label for="bookingdate" class="col-sm-1 col-form-label">Buchungsdatum</label>
    <label for="invoicdate" class="col-sm-1 col-form-label">Rechnungsdatum</label>
    <label for="amount" class="col-sm-1 col-form-label">Betrag</label>
    <label for="contractpartner" class="col-sm-2 col-form-label">Vertragspartner</label>
    <label for="comment" class="col-sm-2 col-form-label">Kommentar</label>
    <label for="postingaccount" class="col-sm-2 col-form-label">Buchungskonto</label>
    <label for="capitalsource" class="col-sm-2 col-form-label">Kapitalquelle</label>
    <label for="lastused" class="col-sm-2 col-form-label">verwendet am</label>
  </div>

  <div class="form-group row" *ngFor="let mf of model| async ">

    <div class="col-sm-1" style="width: inherit !important; ">
      <div class="form-group" style=" white-space:nowrap;">
        <label for="add" class="visible-xs-inline">+</label>
        <input type="checkbox" id="add" name="add" [(ngModel)]="mf._add">
      </div>
    </div>

    <div class="col-sm-1" style="width: inherit !important; ">
      <div class="form-group" style=" white-space:nowrap;">
        <label for="privat" class="visible-xs-inline">pr</label>
        <input type="checkbox" id="privat" name="privat" [(ngModel)]="mf._privat">
      </div>
    </div>

    <div class="col-sm-1">
      <div class="form-group" style=" white-space:nowrap;">

        <label for="bookingdate" class="visible-xs-inline">Buchungsdatum</label>
        <input id="bookingdate" type="text" class="form-control" name="bookingdate" [(ngModel)]="mf._bookingdate">
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-group" style=" white-space:nowrap;">

        <label for="invoicdate" class="visible-xs-inline">Rechnungsdatum</label>
        <input id="invoicdate" type="text" class="form-control" name="invoicdate" [(ngModel)]="mf._invoicdate">
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-group" style=" white-space:nowrap;">

        <label for="amount" class="visible-xs-inline">Betrag</label>
        <div class="input-group">
          <span class="input-group-addon">&euro;</span>
          <input id="amount" type="text" class="form-control currency" name="amount" [(ngModel)]="mf._amount">
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group" style=" white-space:nowrap;">

        <label for="contractpartner" class="visible-xs-inline">Vertragspartner</label>
        <select class="form-control" id="contractpartner" [(ngModel)]="mf._contractpartnerId">
          <option *ngFor="let cp of contractpartnerTransports | async" value="{{cp.id}}"
                  [selected]="cp.id == mf._contractpartnerId">{{cp.name}}
          </option>
        </select>

      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group" style=" white-space:nowrap;">

        <label for="comment" class="visible-xs-inline">Kommentar</label>
        <input id="comment" type="text" class="form-control" name="comment" [(ngModel)]="mf._comment">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group" style=" white-space:nowrap;">

        <label for="postingaccount" class="visible-xs-inline">Buchungskonto</label>
        <select class="form-control" id="postingaccount" [(ngModel)]="mf._postingAccountId">
          <option *ngFor="let pa of postingAccountTransports | async" value="{{pa.id}}"
                  [selected]="pa.id == mf._postingAccountId">{{pa.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group" style=" white-space:nowrap;">

        <label for="capitalsource" class="visible-xs-inline">Kapitalquelle</label>
        <select class="form-control" id="capitalsource" [(ngModel)]="mf._capitalsourceId">
          <option *ngFor="let cs of capitalsourceTransports | async" value="{{cs.id}}"
                  [selected]="cs.id == mf._capitalsourceId">{{cs.comment}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-1">
      <div class="form-group" style=" white-space:nowrap;">

        <label for="lastused" class="visible-xs-inline">verwendet am</label>
        <span id="lastused">{{mf._lastUsed}}</span>
      </div>
    </div>
  </div>


  <div class="col-sm-12 controls text-center">
    <button type="submit" href="#" class="btn btn-primary" (click)="processRequest()">Absenden
    </button>
  </div>

</div>
