<app-navbar></app-navbar>
<div class="page-content">
  <form *ngIf="dataLoaded" [formGroup]="addForm" novalidate (ngSubmit)="processFormSubmit(addForm)">
    <div class="form-group row  hidden-xs hidden-sm hidden-md">
      <label class="col-lg-1 col-form-label" style="width: inherit !important; ">+</label>
      <label class="col-lg-1 col-form-label" style="width: inherit !important; ">pr</label>
      <label class="col-lg-1 col-form-label">Buchungsdatum</label>
      <label class="col-lg-1 col-form-label">Rechnungsdatum</label>
      <label class="col-lg-1 col-form-label">Betrag</label>
      <label class="col-lg-2 col-form-label">Vertragspartner</label>
      <label class="col-lg-2 col-form-label">Kommentar</label>
      <label class="col-lg-2 col-form-label">Buchungskonto</label>
      <label class="col-lg-1 col-form-label">Kapitalquelle</label>
      <label class="col-lg-1 col-form-label">verwendet am</label>
    </div>
    <div formArrayName="rows">
      <div class="form-group row" *ngFor="let row of addForm.controls.rows.controls; let i=index">
        <div [formGroupName]="i">
          <input type="hidden" formControlName="_id">
          <input type="hidden" formControlName="_isPreDefMoneyflow">

          <div class="col-lg-1" style="width: inherit !important; ">
            <div class="form-group" style=" white-space:nowrap;">
              <label class="visible-xs-inline visible-sm-inline visible-md-inline">+</label>
              <input type="checkbox" formControlName="_add">
            </div>
          </div>

          <div class="col-lg-1" style="width: inherit !important; ">
            <div class="form-group" style=" white-space:nowrap;">
              <label class="visible-xs-inline visible-sm-inline visible-md-inline">pr</label>
              <input type="checkbox" formControlName="_privat">
            </div>
          </div>

          <div class="col-lg-1">
            <div class="form-group" style=" white-space:nowrap;">

              <label class="visible-xs-inline visible-sm-inline visible-md-inline">Buchungsdatum</label>
              <input type="text" class="form-control" formControlName="_bookingdate">
              <small *ngIf="addForm.controls.rows.controls[i].controls._bookingdate.hasError('required')"
                     class="text-danger">
                Buchungsdatum fehlt!
              </small>
              <small *ngIf="addForm.controls.rows.controls[i].controls._bookingdate.hasError('validateDate')"
                     class="text-danger">
                Datumsformat {{dateFormat}}
              </small>
            </div>
          </div>

          <div class="col-lg-1">
            <div class="form-group" style=" white-space:nowrap;">

              <label class="visible-xs-inline visible-sm-inline visible-md-inline">Rechnungsdatum</label>
              <input type="text" class="form-control" formControlName="_invoicedate">
              <small *ngIf="addForm.controls.rows.controls[i].controls._invoicedate.hasError('validateDate')"
                     class="text-danger">
                Datumsformat {{dateFormat}}
              </small>
            </div>
          </div>

          <div class="col-lg-1">
            <div class="form-group" style=" white-space:nowrap;">

              <label class="visible-xs-inline visible-sm-inline visible-md-inline">Betrag</label>
              <div class="input-group">
                <span class="input-group-addon">&euro;</span>
                <input type="text" class="form-control currency"
                       formControlName="_amount">
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="form-group" style=" white-space:nowrap;">

              <label class="visible-xs-inline visible-sm-inline visible-md-inline">Vertragspartner</label>
              <select class="form-control"
                      formControlName="_contractpartnerId">
                <option *ngFor="let cp of contractpartnerTransports" value="{{cp.id}}">{{cp.name}}</option>
              </select>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="form-group" style=" white-space:nowrap;">

              <label class="visible-xs-inline visible-sm-inline visible-md-inline">Kommentar</label>
              <input type="text" class="form-control" formControlName="_comment">
            </div>
          </div>

          <div class="col-lg-2">
            <div class="form-group" style=" white-space:nowrap;">
              <label class="visible-xs-inline visible-sm-inline visible-md-inline">Buchungskonto</label>
              <select class="form-control"
                      formControlName="_postingAccountId">
                <option *ngFor="let pa of postingAccountTransports" value="{{pa.id}}">{{pa.name}}</option>
              </select>
            </div>
          </div>

          <div class="col-lg-1">
            <div class="form-group" style=" white-space:nowrap;">
              <label class="visible-xs-inline visible-sm-inline visible-md-inline">Kapitalquelle</label>
              <select class="form-control" formControlName="_capitalsourceId">
                <option *ngFor="let cs of capitalsourceTransports" value="{{cs.id}}">{{cs.comment}}</option>
              </select>
            </div>
          </div>

          <div class="col-lg-1">
            <div class="form-group" style=" white-space:nowrap;">
              <label class="visible-xs-inline visible-sm-inline visible-md-inline">verwendet am</label>
              <input type="text" class="form-control" formControlName="_lastUsed">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 controls text-center">
      <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">Absenden</button>
    </div>
  </form>
</div>
