<div class="mj-parent">
  <div class="col-md-4 col-md-offset-4 mj-child">
    <h2>Willkommen! Geben Sie Ihre Nutzerdaten ein und klicken Sie auf „Anmelden“.</h2>
    <br>
    <input class="form-control"
           placeholder="Username"
           [(ngModel)]="username"
           (keyup.enter)="doLogin()">
    <br/>
    <input class="form-control"
           placeholder="Password"
           type="password"
           [(ngModel)]="password"
           (keyup.enter)="doLogin()">
    <br/>
    <app-error></app-error>
    <button type="button" class="btn btn-primary" (click)="doLogin()">Anmelden</button>
  </div>
</div>
